.CardProduct {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(147px, 1fr));
    grid-auto-rows: 220px;
    gap: 20px;
    padding: 20px 3px 20px 3px;
}

.CardProduct > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border: 1px solid var(--primary);
    box-shadow: -1px 1px 4px 1px var(--dark);
    border-radius: var(--radius);
    padding: 15px;
}

.CardProduct > div:hover {
    transform: scale(1.04);
}

.deactive {
    opacity: .4;
}