:root {
  --primary: #eeeeee;
  --secondary: #fff;
  --dark: #dbdbdb;
  --alert: rgb(239, 155, 155);
  --radius: 10px;
}

html,
body {
  font-family: 'Poppins', sans-serif;
  background: var(--primary);
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}

body > div {
  height: 100vh;
}

header, main, footer {
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}