.NewItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border: 1px solid var(--primary);
    box-shadow: -1px 1px 4px 1px var(--dark);
    border-radius: var(--radius);
    padding: 15px;
}

.NewItem svg {
    stroke: var(--info);
    filter: blur(1.1px);
}