.PopUp {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
}

.close {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: #00000033;
    backdrop-filter: blur(1.5px);
}

.card {
    background: var(--secondary);
    border: 1px solid var(--primary);
    box-shadow: -1px 1px 4px 1px var(--dark);
    border-radius: var(--radius);
    padding: 15px;
    z-index: 10;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.buttonCancel {
    background: var(--danger) !important;
}

.buttonEdit {
    background: var(--warning) !important;
}